@model TICKETBOX.Models.ChangePasswordModel
@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đổi Mật Khẩu - Fast Ticket</title>
    <link rel="stylesheet" href="~/css/ChangePassword.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>

<body>
    <div class="container">
        <div class="form-container change-pw">
            <form asp-action="ChangePasswordAdmin" method="post">
                <input type="hidden" asp-for="UserId" />

                <p class="label">Đặt Lại Mật Khẩu</p>

                <input name="NewPassword" type="password" placeholder="Mật khẩu mới" class="new-pw" asp-for="NewPassword" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>

                <input name="ConfirmPassword" type="password" placeholder="Nhập lại mật khẩu mới" asp-for="ConfirmPassword" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                
                <button class="send-code-btn" type="submit">Xác Nhận</button>
            </form>
        </div>
    </div> 
</body>

</html>