@model TICKETBOX.Models.Tables.Info
@{
    ViewData["Title"] = "Tạo Post";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/createpost.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>

<body>
    <p class="create-post-label">Tạo Bài Đăng Mới</p>
    <form asp-action="CreatePost" asp-controller="Admin" method="post" enctype="multipart/form-data"> 
    <div class="image-upload" id="image-upload">
        <img id="preview" style="display: none;">
        <label>Ảnh:</label>
        <div class="overlay">Tải Ảnh Lên</div>
        <input type="file" id="file-input" name="InfoImage" accept="image/*" style="display: none;" required>
        <img id="preview" style="display: none;">
    </div>
        <div>
            <label>Tiêu đề:</label>
            <input type="text" asp-for="InfoTitle" required> 
        </div>

        <div>
            <label for="InfoContent" style="display: block; font-size: 20px; font-weight: bold; margin-bottom: 8px;">Nội dung:</label>
            <textarea asp-for="InfoContent" name="InfoContent" required rows="5" style="width: 700px; height: 200px; padding: 10px; border-radius: 8px; border: 1px solid#ccc;"></textarea>
        </div>
        
        <div>
            <button type="submit">Tạo Bài Đăng</button>
        </div>
    </form>
    <script>
        const fileInput = document.getElementById('file-input');
        const imageUpload = document.getElementById('image-upload');
        const preview = document.getElementById('preview');

        imageUpload.addEventListener('click', function(){
            fileInput.click();
        });

        fileInput.addEventListener('change', function(){
            const file = fileInput.files[0];
            if(file){
                const reader = new FileReader();
                reader.onload = function(e){
                    preview.src = e.target.result;
                    preview.style.display = 'block';
                }
                reader.readAsDataURL(file);
            }
        });
    </script>
</body>

</html>
