 @model TICKETBOX.Models.Tables.Movie
  @{
    ViewData["Title"] = "Chi Tiết Thông Tin";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="~/css/CreateMovie.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>

<body>
    <form asp-action="HomeAdmin" method="post">
   <div class="admin-profile-container">
        <div class="image-upload" id="image-upload">
            <img src="">
            <div class="overlay">Tải Ảnh Lên</div>
            <input type="file" id="file-input" name="MovieImage" accept="image/*" style="display:none;">
            <img id="preview" alt="Ảnh xem trước" style="display:none;">
        </div>
        <div class="admin-info-wrap">
            <form asp-action="Updateadmin" method="post">
                 <input type="hidden"/>
                <div class="admin-info-list">
                    <div class="admin-info">
                        <div>
                            <p>Tên phim</p>
                            <input type="Text" id="MovieName" name="MovieName">
                        </div>
                        <div>
                            <p class="Name">Nội dung</p>

                            <input type="Text" id="MovieContent" name="MovieContent">
                        </div>
                        <div class="form-group">
                            <p >Phân loại</p>
                            <select id="MovieLabel" name="MovieLabel"class="form-select">
                                <option value="">Choose...
                                </option>
                                <option value="T18">T18</option>
                                <option value="T16">T16
                                </option>
                                <option value="T13">T13</option>
                                <option value="P">P
                                </option>
                            </select>
                        </div>                        
                        <div class="form-group">
                            <p>Định dạng</p>

                            <select id="MovieFormat" name="MovieFormat" class="form-select">
                                <option selected="">Choose...</option>
                                <option value="2D">2D
                                </option>
                              </select>
                        </div>
                        <div>
                            <p>Thời lượng</p>

                            <input type="text" id="Duration" name="Duration">
                        </div>
                    </div>
                    <div>
                        <div>
                            <p>Đạo diễn</p>

                            <input type="text" id="MovieDirector" name="MovieDirector">
                        </div>
                        <div>
                            <p class="Email">Diễn viên</p>

                            <input type="text" id="MovieActor" name="MovieActor">
                            <div class="form-group">
                                <p>Thể loại</p>
                                <select name="MovieGenre" id="MovieGenre" class="form-select">
                                    <option value="">Choose...</option>
                                    <option value="Drama">Drama</option>
                                    <option value="Thriller">Thriller
                                    </option>
                                    <option value="Action">Action</option>
                                    <option value="Animation">Animation
                                    </option>
                                    <option value="Horror">Horror</option>
                                    <option value="Healing">Healing</option>
                                    <option value="Musical">Musical</option>
                                </select>
                            </div>
                        </div>
                        <div>
                            <p>Ngày chiếu</p>
                            <div>
                                <input name="ReleaseDate" type="date" id="ReleaseDate" class="form-select">
                            </div>
                        </div>                                                
                        <div class="form-group">
                            <p>Ngôn ngữ</p>
                            <select name="Language" id="Language" class="form-select">
                                <option selected="">Choose...</option>
                                <option value="Phụ đề">Phụ đề
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                    <div>
                        <a href="#" class="save-link">
                        <button type="submit" class="save-btn">Lưu lại</button>
                        </a>
                    </div>
            </form>
        </div>
    </div>
    </div>
    </form>
    <script>
        const fileInput = document.getElementById('file-input');
        const imageUpload = document.getElementById('image-upload');
        const preview = document.getElementById('preview');

        // Mở hộp thoại chọn tệp khi nhấp vào ảnh
        imageUpload.addEventListener('click', function() {
            fileInput.click();
        });

        fileInput.addEventListener('change', function() {
            const file = fileInput.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    preview.src = e.target.result;
                    preview.style.display = 'block';
                }
                reader.readAsDataURL(file);
            }
        });
    </script>
</body>